.container_big_card{
    height: 15rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }
    .big_card_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            position: absolute;
    
    }
}
.container_big_card:hover{
    scale: 1.1;
}
.container_big_card:hover > img{
    filter: blur(2px);
}
