.menu_title_container {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    h1 {
        font-size: 5rem;
        letter-spacing: 3px;
        font-family: 'Croissant One', cursive;
    }

}