.menu_title_container{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 10px 0;
    h1{
        color: #fff;
        margin: 1rem 0;
        font-size: 150px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}