.container_small_card{
    transform: translateY(-50px);
    transition: 0.5s ease-in-out;
    width: 25rem;
    height: 25rem;  
    background-color: #2a2929; 
    border-radius: 0.5rem;
    opacity: 0.8;  
    cursor: pointer;
    .container_small_card_content{
            .small_card_photo{
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 1rem;
                }
            }
            .small_card_title{
                text-align: center;
            }
    }
}
.container_small_card:hover{
    scale: 1.1;
    opacity: 1;  
}