<div class="container_small_card">
    <div class="container_small_card_content">
        <div class="small_card_photo">
            <img src="https://i.pinimg.com/564x/bc/9c/d2/bc9cd273cc9bcb2caafec4a82b7006df.jpg"  alt="">
        </div>
        <div class="small_card_title">
            <h1><a href="#">Angular New Version</a></h1>
        </div>
    </div>
   
    <!-- <div class="small_card_description">
        <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloremque.</a></p>
    </div> -->

    
</div>