<app-menu-title/>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
        id="1"
        photoCover="https://images.unsplash.com/photo-1461696114087-397271a7aedc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" 
        cardTitle="HeadLines"
        cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, laudantium."
        />
    </div>
    <div class="articles_others">
        <app-small-card  
        photoCover="https://images.unsplash.com/photo-1570304816841-906a17d7b067?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80" 
        cardTitle="News"
        id="2"
        />
        <app-small-card
        photoCover="https://images.unsplash.com/photo-1499856871958-5b9627545d1a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNpdHklMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" 
        cardTitle="News"
        id="3"
        />
        <app-small-card
        photoCover="https://images.unsplash.com/photo-1578859651203-c7126a106b59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80" 
        cardTitle="News"
        id="4"
        />
    </div>
</div>