
.container_articles{
    display: flex;
    flex-direction: column;
    align-items: center;

    .articles_main{
        transform: translateY(-100px);
    }
    .articles_others{
        display: flex;
        gap: 2rem;
    }
}